@import "../../styles/consts.scss";

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3% 25%;

    @media (max-width: 1300px) {
        padding: 3% 15%;
    }

    @media (max-width: 768px) {
        padding: 3% 3%;
    }

    .user {
        display: flex;
        flex-direction: row;

        @media (min-width: 768px) {
            border: 1px solid black;
        }

        @media (max-width: 768px) {
            flex-wrap: wrap;
            flex-direction: column;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: 768px) {
                border-right: 1px solid black;
            }

            @media (max-width: 768px) {
                border-bottom: 1px solid black;
            }

            img {
                min-height: 15vw;
                width: 15vw;
                height: 15vw;

                @media (max-width: 768px) {
                    border-radius: 50%;
                    min-height: 30vw;
                    width: 30vw;
                    height: 30vw;
                }
            }

            p {
                color: $color-dark;
                text-align: center;
                line-height: 0px;

                @media (max-width: 1300px) {
                    line-height: 1.2em;
                }

                @media (max-width: 768px) {
                    line-height: 0px;
                }
            }

            .name {
                font-size: large;
                font-weight: bold;
            }

            .job {
                font-size: small;
                line-height: 0px;
            }
        }

        .lifestyle {
            p {
                &:first-child {
                    text-align: center;
                    font-size: larger;
                    font-weight: bold;
                }

                &:last-child {
                    padding: 2% 5%;
                    font-size: large;
                }
            }
        }
    }

    .history {
        padding-top: 5%;

        h1 {
            text-align: center;
        }

        .markdown {
            line-height: 1.5em;

            code {
                font-family: 'Libre Franklin', -apple-system, 'Helvetica Neue', sans-serif;
            }
        }
    }
}