@import "../styles/consts.scss";

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .userBlock {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            min-height: 15vw;
            width: 15vw;

            border-radius: 50%;
            border: 5px solid $color-secondary;

            z-index: 1;
        }

        div {
            position: relative;
            top: -50px;

            padding-top: 40px;
            padding-left: 10%;
            padding-right: 10%;

            border: 5px solid $color-secondary;
            border-radius: 25%;

            p {
                color: $color-dark;
                text-align: center;
            }

            .name {
                font-size: larger;
            }

            .job {
                font-size: small;
            }
        }
    }

    .titleBlock {
        display: flex;
        justify-content: right;
        text-align: left;

        p {
            color: $color-dark;
            font-size: larger;
        }
    }
}