@import "../styles/consts.scss";

.rootLayout {
    margin: 0px;
    padding: 1% 0%;
    background-color: $color-background;
    font-family: 'Libre Franklin', -apple-system, 'Helvetica Neue', sans-serif;
}