@import "../../styles/consts.scss";

.header {
    background-color: $color-primary;

    border-radius: 10px;
    border: $color-dark 4px solid;

    text-align: center;

    font-family: monospace;
    text-transform: uppercase;
    font-size: xx-large;
}