@import "../../styles/consts.scss";

.block {
    display: flex;
    flex-direction: column;

    padding: 0% 2%;

    box-sizing: border-box;

    min-width: 44%;
    max-width: 50%;

    background-color: $color-primary;
    border-radius: 12px;
    border: $color-dark 4px solid;

    @media (max-width: 1040px) {
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 2%;
    }

    a {
        font-size: x-large;
        text-decoration: none;
    }

    .poster {
        height: 25vh;
        width: auto;
        position: relative;
        margin: 3%;

        @media (max-width: 1040px) {
            height: 50vh;
        }

        img {
            border-radius: 12px;
            margin: auto;
        }
    }
}