@import "../../styles/consts.scss";

.block {
    margin: 2%;
    padding: 2%;
    width: 50%;

    border: 1px solid black;

    @media (max-width: 1000px) {
        width: 70%;
    }
    
    @media (max-width: 768px) {
        width: 90%;
    }
}