@import "../../styles/consts.scss";

.header {
    display: flex;
    justify-content: flex-end;

    padding: 0% 10%;
    border-bottom: 1px solid black;

    a {
        margin: 1% 2% 2% 1%;

        color: $color-dark;
        text-decoration: none;
        font-family: 'Libre Franklin', -apple-system, 'Helvetica Neue', sans-serif;
        font-size: larger;

        cursor: pointer;

        transition: color 0.4s;

        &:first-child {
            margin-right: auto;
            font-weight: 600;
        }

        &:hover {
            color: $color-gray;
            text-decoration: underline;
        }

        @media (max-width: 768px) {
            &:last-child {
                display: none;
            }
        }
    }
}